.thankyou-logo {
    text-align: center;
  }
  
  .thankyou-logo img {
    max-height: 50%;
    max-width: 60%;
  }

  .thankyou {
    margin-top: 20px;
    font-size: 40px;
    font-family: -webkit-body;
    color: darkslategray;
  }

  .textSuccess {
    color: green;
    position: relative;
    left: 0em;
    top: -4em;
    font-family: cursive;
  }

  .back-tik {
    font-size: 40px;
    color: lightslategrey;
    padding: 15px;
  }